!*.yaml
!.gitignore
**/downloads
.storage/*
.cloud/*
tts/*
.uuid
.ios.conf
.HA_VERSION
**/._*.yaml
__pycache__
**/*.pyc
home-assistant_v2.db
home-assistant.env
home-assistant.*
secrets.yaml
known_devices.yaml
entity_registry.yam
airsonos.xml
logs
*.log
deps
tts
www/custom_ui/inkwavemap/config.js