!*.yaml
!.gitignore
**/downloads
.storage/*
**/.storage
**/.cloud
.cloud/*
tts/*
.uuid
.ios.conf
.homekit.state
.HA_VERSION
**/._*.yaml
__pycache__
**/*.pyc
home-assistant_v2.db
home-assistant.env
home-assistant.*
secrets.yaml
known_devices.yaml
._known_devices.yaml
entity_registry.yaml
airsonos.xml
.saswell*
logs
*.log
deps
tts
www/custom_ui/inkwavemap/config.js